* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #ededf4;
    background-image: url(D:\procs3\public\12643221_5040007.jpg);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #3161e5;
    text-align: center;
  }
  
  .textfield {
    color: #e6e7f2;
    width: 20%;
    margin-bottom: 20px;
    
  }

  .textfield input{
    color: #f0f0f6;
  }
  
  /* Style the input labels */
  label.Mui-focused {
    color: #1086e7;
  }
  
  /* Style the input borders */
  .MuiOutlinedInput-root {
    fieldset {
      border-color: #1693f3;
    }
  
    &:hover fieldset {
      border-color: #eceeef;
    }
  
    &.Mui-focused fieldset {
      border-color: #e9edf0;
    }
  }
  
  /* Style submit button */
  .button {
    background-color: #e6e7f2;
    color: #db1e1e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #f2f2f2;
  }
  